<!-- <div class="aplayer">
    <div class="aplayer-pic">
        <img src="https://www.helloweba.net/demo/APlayer/pfzl.jpg" alt="">
    </div>
    <div class="aplayer-info">
        <div class="aplayer-music">
            <div class="aplayer-title">平凡之路</div>
            <div class="aplayer-author">- 朴树</div>
        </div>
        <div class="aplayer-lrc">
            <p class="">平凡之路 - 朴树</p>
        </div>
        <div class="aplayer-controller">
            <div class="aplayer-bar-wrap">
                <div class="aplayer-bar">
                    <div class="aplayer-loaded" style="width: 100%;"></div>
                    <div class="aplayer-played" style="width: 67.7852%;"><span class="aplayer-thumb"></span></div>
                </div>
            </div>
            <div class="aplayer-controller">
                <div class="aplayer-bar-wrap">
                    <div class="aplayer-bar">
                        <div class="aplayer-loaded" style="width: 100%;"></div>
                        <div class="aplayer-played" style="width: 74.0306%;"><span class="aplayer-thumb"></span></div>
                    </div>
                </div>
                <div class="aplayer-time"><span class="aplayer-ptime">03:43</span> / <span class="aplayer-dtime">05:02</span>
                    <div class="aplayer-volume-wrap"><i class="demo-icon aplayer-icon-volume-down"></i>
                        <div class="aplayer-volume-bar-wrap">
                            <div class="aplayer-volume-bar">
                                <div class="aplayer-volume" style="height: 80%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div id="player3" class="aplayer aplayer-withlrc">
    <div class="aplayer-pic"><img class="tupain" [src]="song.thumbUrl">
        <div class="aplayer-button aplayer-pause"><i class="demo-icon aplayer-icon-pause"></i></div>
        <div class="aplayer-button aplayer-play aplayer-hide"><i class="demo-icon aplayer-icon-play"></i></div>
    </div>
    <div class="aplayer-info">
        <div class="aplayer-music"><span class="aplayer-title">平凡之路</span><span class="aplayer-author"> - 朴树</span></div>
        <div class="aplayer-lrc">
            <div class="aplayer-lrc-contents" style="transform: translateY(-1080px);">
                <p class="">一生所爱 - 卢冠廷</p>
                <p class="">作词：卢冠廷</p>
                <p class="">作曲：朴树 编曲：朴树</p>
                <p class="">徘徊着的 在路上的</p>
                <p class="">你要走吗</p>
                <p class="">易碎的 骄傲着</p>
                <p class="">那也曾是我的模样</p>
                <p class="">沸腾着的 不安着的</p>
                <p class="">你要去哪</p>
                <p class="">谜一样的 沉默着的</p>
                <p class="">故事你真的在听吗</p>
                <p class="">我曾经跨过山和大海</p>
                <p class="">也穿过人山人海</p>
                <p class="">我曾经拥有着一切</p>
                <p class="">转眼都飘散如烟</p>
                <p class="">我曾经失落失望失掉所有方向</p>
                <p class="">直到看见平凡才是唯一的答案</p>
                <p class="">当你仍然</p>
                <p class="">还在幻想</p>
                <p class="">你的明天</p>
                <p class="">她会好吗 还是更烂</p>
                <p class="">对我而言是另一天</p>
                <p class="">我曾经毁了我的一切</p>
                <p class="">只想永远地离开</p>
                <p class="">我曾经堕入无边黑暗</p>
                <p class="">想挣扎无法自拔</p>
                <p class="">我曾经像你像他像那野草野花</p>
                <p class="">绝望着 渴望着</p>
                <p class="">也哭也笑平凡着</p>
                <p class="">向前走 就这么走</p>
                <p class="">就算你被给过什么</p>
                <p class="">向前走 就这么走</p>
                <p class="">就算你被夺走什么</p>
                <p class="">向前走 就这么走</p>
                <p class="">就算你会错过什么</p>
                <p class="">向前走 就这么走</p>
                <p class="">就算你会</p>
                <p class="">我曾经跨过山和大海</p>
                <p class="">也穿过人山人海</p>
                <p class="">我曾经拥有着一切</p>
                <p class="">转眼都飘散如烟</p>
                <p class="">我曾经失落失望失掉所有方向</p>
                <p class="">直到看见平凡才是唯一的答案</p>
                <p class="">我曾经毁了我的一切</p>
                <p class="">只想永远地离开</p>
                <p class="">我曾经堕入无边黑暗</p>
                <p class="">想挣扎无法自拔</p>
                <p class="">我曾经像你像他像那野草野花</p>
                <p class="">绝望着 渴望着 也哭也笑平凡着</p>
                <p class="">我曾经跨过山和大海</p>
                <p class="">也穿过人山人海</p>
                <p class="">我曾经问遍整个世界</p>
                <p class="">从来没得到答案</p>
                <p class="">我不过像你像他像那野草野花</p>
                <p class="aplayer-lrc-current">冥冥中这是我 唯一要走的路啊</p>
                <p class="">时间无言</p>
                <p class="">如此这般</p>
                <p class="">明天已在眼前</p>
                <p class="">风吹过的 路依然远</p>
                <p class="">你的故事讲到了哪</p>
            </div>
        </div>
        <div class="aplayer-controller">
            <div class="aplayer-bar-wrap">
                <div class="aplayer-bar">
                    <div class="aplayer-loaded" style="width: 100%;"></div>
                    <div class="aplayer-played" [style.width]="process * 100+'%'"><span class="aplayer-thumb"></span></div>
                </div>
            </div>
            <div class="aplayer-time"><span class="aplayer-ptime">{{currentTime | date:'mm:ss'}}</span> / <span class="aplayer-dtime">{{duration | date:'mm:ss'}}</span>
                <div class="aplayer-volume-wrap"><i class="icon iconfont icon-volume "></i>
                    <div class="aplayer-volume-bar-wrap">
                        <div class="aplayer-volume-bar">
                            <div class="aplayer-volume" style="height: 80%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<audio [src]="song.musicUrl" #audio autoplay (playing)="play()"></audio>