<!-- <div class="aplayer">
    <div class="aplayer-pic">
        <img src="https://www.helloweba.net/demo/APlayer/pfzl.jpg" alt="">
    </div>
    <div class="aplayer-info">
        <div class="aplayer-music">
            <div class="aplayer-title">平凡之路</div>
            <div class="aplayer-author">- 朴树</div>
        </div>
        <div class="aplayer-lrc">
            <p class="">平凡之路 - 朴树</p>
        </div>
        <div class="aplayer-controller">
            <div class="aplayer-bar-wrap">
                <div class="aplayer-bar">
                    <div class="aplayer-loaded" style="width: 100%;"></div>
                    <div class="aplayer-played" style="width: 67.7852%;"><span class="aplayer-thumb"></span></div>
                </div>
            </div>
            <div class="aplayer-controller">
                <div class="aplayer-bar-wrap">
                    <div class="aplayer-bar">
                        <div class="aplayer-loaded" style="width: 100%;"></div>
                        <div class="aplayer-played" style="width: 74.0306%;"><span class="aplayer-thumb"></span></div>
                    </div>
                </div>
                <div class="aplayer-time"><span class="aplayer-ptime">03:43</span> / <span class="aplayer-dtime">05:02</span>
                    <div class="aplayer-volume-wrap"><i class="demo-icon aplayer-icon-volume-down"></i>
                        <div class="aplayer-volume-bar-wrap">
                            <div class="aplayer-volume-bar">
                                <div class="aplayer-volume" style="height: 80%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div id="player3" class="aplayer aplayer-withlrc">
    <div class="aplayer-pic">
        <img class="tupain" [src]="song.thumbUrl">
        <div class="aplayer-button aplayer-pause" *ngIf="!playing" (click)="playSong()">
            <i class=" iconfont icon-play"></i>
        </div>
        <div class="aplayer-button aplayer-pause" *ngIf="playing" (click)="stop()">
            <i class=" iconfont icon-pause"></i>
        </div>
    </div>
    <div class="aplayer-info">
        <div class="aplayer-music">
            <span class="aplayer-title">{{lrcInfo.title}}</span>
            <span class="aplayer-author"> - {{lrcInfo.author}}</span>
        </div>
        <div class="aplayer-lrc">
            <div class="aplayer-lrc-contents" style="transform: translateY(0px);">
                <p class="" *ngIf="!playingTexts">{{lrcInfo.title}} - {{lrcInfo.author}}</p>
                <p *ngIf="!playingTexts">{{lrcInfo.alia}}</p>
                <p class="" *ngIf="!playingTexts">作词：{{lrcInfo.by}}</p>
                <!-- <p class="">作曲：朴树 编曲：朴树</p> -->
                <ng-container>
                    <p class="" *ngIf="playingTexts">{{playingTexts}}</p>
                </ng-container>



            </div>
        </div>
        <div class="aplayer-controller">
            <div class="aplayer-bar-wrap">
                <!-- <div class="aplayer-bar">
                    <div class="aplayer-loaded" style="width: 100%;"></div>
                    <div class="aplayer-played" [style.width]="process * 100+'%'">
                        <span class="aplayer-thumb"></span>
                    </div>
                </div>
                 -->
                <nz-slider [nzDefaultValue]="0" [(ngModel)]="process"></nz-slider>
            </div>
            <div class="aplayer-time">
                <span class="aplayer-ptime">{{currentTime | date:'mm:ss'}}</span> /
                <span class="aplayer-dtime">{{duration | date:'mm:ss'}}</span>
                <div class="aplayer-volume-wrap">
                    <i class="icon iconfont icon-volume "></i>
                    <!-- <div class="aplayer-volume-bar-wrap">
                        <div class="aplayer-volume-bar">
                            <div class="aplayer-volume" style="height: 80%"></div>
                        </div>
                    </div> -->
                    <div class="aplayer-volume-bar-wrap" style="height:60px;bottom:-18px;right:0px;">
                        <!-- <div [ngStyle]="style"> -->
                        <nz-slider nzVertical [nzRange]="false" [nzDefaultValue]="volume" [(ngModel)]="volume"></nz-slider>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <audio [src]="song.musicUrl" #audio style="display:none;" autoplay (playing)="play()"></audio>